:root {
    font-size: 12pt;
    color: rgb( 37, 36, 35 );
    font-family: 'Segoe UI', '微軟正黑體', sans-serif;
}

*, ::before, ::after {
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 1rem auto;
    padding: 1.5rem;
    max-width: 1120px;
    width: calc(100% - 2rem);
    box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
}
@media print {
    body {
        margin: 0 auto;
        max-width: unset;
        width: 21cm;
        box-shadow: none;
        padding: 0;
    }
}

section {
    padding-bottom: 2rem;
    page-break-inside: avoid;
    border-bottom: 1px solid rgb( 210, 208, 206 );
}
section:last-of-type {
    border-bottom: 0;
}
@media print {
    section.last-of-page {
        border-bottom: 0;
    }
}

h1, h2, h3 {
    font-weight: 500;
}

h1 {
    display: grid;
    font-size: 20pt;
}
h1 span {
    grid-area: 1 / 1 / 2 / 2;
    align-self: flex-end;
}
h1 span:last-child {
    bottom: -.5rem;
    right: 0;
    z-index: -1;
    color: rgb( 210, 208, 206 );
    text-transform: capitalize;
    font-size: calc(1.5em + 1.5vw);
    font-weight: 900;
    line-height: 1em;
    justify-self: flex-end;
    text-align: end;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 14pt;
}

p {
    line-height: 20pt;
    text-align: justify;
    margin-top: .25rem;
}
p::before {
    content: '';
    padding-left: 2em;
}

ul {
    margin-top: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row > * {
    flex-grow: 1;
}

.profile {
    border-radius: 50%;
    width: calc(100% - 3rem);
    max-width: 300px;
    box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
}

small {
    font-size: .8em;
    color: rgb( 121, 119, 117 );
}

li {
    padding: .25em;
    line-height: 1.25em;
}

.timeline {
    padding-left: 2em;
}
.timeline::before {
    content: '';
    position: absolute;
    top: 1ex;
    width: 2px;
    bottom: 1ex;
    left: 1em;
    transform: translateX(-50%);
    background-color: rgb( 121, 119, 117 );
    border-radius: 1px;
}
.timeline li {
    display: flex;
    gap: .5em;
    list-style: none;
    padding: .5em 0;
}
.timeline li::before {
    content: '';
    position: absolute;
    width: .5em;
    height: .5em;
    top: 1.125em;
    left: -1em;
    transform: translate(-50%, -50%);
    background-color: rgb( 121, 119, 117 );
    border-radius: .25em;
}

a {
    color: rgb( 0, 120, 212 );
    text-decoration: none;
}
a:hover {
    color: rgb( 0, 78, 140 );
}
a:active {
    text-decoration: underline;
}

.hyperlink {
    display: inline-block;
}

.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1em;
    text-decoration: inherit;
}

.info {
    display: flex;
    gap: .5em;
    align-items: center;
    margin: .5rem 0;
}